server {
  listen 80;
  access_log /var/log/nginx/access.log;

  absolute_redirect off;

  root /usr/share/nginx/html;
  index index.html;

  location / {
    try_files \$uri \$uri\/ /index.html;
  }

  location /api/ {
    proxy_pass http://$BACKEND_HOST/api/;
  }
}
